/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 1rem;
    top: 1rem;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: var(--default-color);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #e4aa68;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: var(--default-color);
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    left: 0;
    top:7vh;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #33312e;
    padding: 0;
    max-height:12rem;
    font-size: 1.15rem;
    left: 0;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #edeeed;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    height: 3rem;
    background-color:rgba(0, 0, 0, 0.3);
    border: .1rem solid white;
    text-align: center;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: var(--default-color);
  }

  